<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <div th:replace="fragmentos :: bootstrap"></div>


</head>

<body>
    <div th:replace="fragmentos :: cabecalho"></div>
    <h1>Pagina do cadastro de usuários</h1>


    <div class="col-sm-9 mx-auto d-block">
        <form class="row g-3" method="POST" action="/usuario/cadastrar">
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Primeiro nome</label>
                <input type="text" class="form-control is-valid" id="validationServer01" value="" name="primeiroNome"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer02" class="form-label">Sobrenome</label>
                <input type="text" class="form-control is-valid" id="validationServer02" value="" name="sobrenome"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationServer04" class="form-label">Sexo</label>
                <select class="form-select is-invalid" name="sexo" id="validationServer04"
                    aria-describedby="validationServer04Feedback" required>
                    <option selected disabled value="" title="Selecione uma opção">Escolha seu sexo</option>
                    <option value="MASCULINO">MASCULINO</option>
                    <option value="FEMININO">FEMININO</option>
                    <option value="INDEFINIDO">INDEFINIDO</option>
                </select>
            </div>


            <div class="col-md-6">
                <label for="validationServer03" class="form-label">CPF</label>
                <input type="text" class="form-control is-invalid" id="validationServer03"
                    aria-describedby="validationServer03Feedback" name="cpf" maxlength="14" oninput="formatarCPF(this)">
                <div id="validationServer03Feedback" class="invalid-feedback">
                    Por favor, forneça um CPF válido.
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                        aria-describedby="invalidCheck3Feedback" required>
                    <label class="form-check-label" for="invalidCheck3">
                        Eu tenho certeza que este usuário está sendo cadastrado corretamente!
                    </label>
                    <div id="invalidCheck3Feedback" class="invalid-feedback">
                        Você precisa ter certeza!
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Cadastrar Modelo de Equipamento</button>
            </div>
        </form>
    </div>



    <script>
        function formatarCPF(input) {
            // Remove caracteres não numéricos
            const cpf = input.value.replace(/\D/g, '');
    
            // Verifica se o CPF possui 11 dígitos
            if (cpf.length === 11) {
                // Formata o CPF
                const cpfFormatado = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
    
                // Atualiza o valor do campo de entrada
                input.value = cpfFormatado;
            } else {
                // Se o CPF não tiver 11 dígitos, remove a formatação
                input.value = cpf;
            }
        }
    </script>

</body>

</html>