<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Modelo Equipamento</title>
    <div th:replace="~{fragmentos :: bootstrap}"></div>

</head>

<body>
    <div th:replace="~{fragmentos :: cabecalho}"></div>
    
    
    <div class="col-sm-9 mx-auto d-block">
        <h1>Pagina do cadastro de equipamento</h1>
        <br>
        <form th:object="${modeloEquipamento}" class="row g-3 needs-validation was-validated" method="POST" id="01"
            action="/modelo-equipamento/cadastrar" required>
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Modelo do Equipamento</label>
                <input type="text" class="form-control" id="validationServer01" value="" th:field="*{nomeEquipamento}" required>
                <div class="valid-feedback">
                    Nome válido!
                </div>
                <div id="validationServer01" class="invalid-feedback">
                    Por favor, insira o nome do Modelo.
                </div>
            </div>
            <div class="col-md-4
            ">
                <label for="validationServer02" class="form-label">Part Number</label>
                <input th:errorclass="is-invalid" type="text" class="form-control" id="validationServer02" value=""
                    th:field="*{pn}" required>
                <div class="valid-feedback">
                    pn válido!
                </div>
                <div id="validationServer02" class="invalid-feedback">
                    Por favor, insira um PN válido.
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer03" class="form-label">Preço</label>
                <input th:errorclass="is-invalid"  placeholder="R$0,00" type="text" class="form-control" id="validationServer03" value=""
                    th:field="*{preco}"  required>
                <div class="valid-feedback">
                    Preço válido!
                </div>
                <div id="validationServer03" class="invalid-feedback">
                    Por favor, insira um valor válido. (Ex.:R$ 50,50)
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationServer04" class="form-label">lote</label>
                <input th:errorclass="is-invalid" type="text" class="form-control" id="validationServer03" aria-describedby="validationServer03Feedback" th:field="*{lote}" required>
                    <div class="valid-feedback">
                        Lote válido!
                    </div>
                <div id="validationServer04Feedback" class="invalid-feedback">
                    Por favor providencie um lote válido.
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck3"
                        aria-describedby="invalidCheck3Feedback" required>
                    <label class="form-check-label" for="invalidCheck3">
                        Eu tenho certeza que este Modelo De Equipamento está sendo cadastrado corretamente!
                    </label>
                    <div id="invalidCheck3Feedback" class="invalid-feedback">
                        Você precisa ter certeza!
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Cadastrar Modelo de Equipamento</button>
            </div>
        </form>
    </div>

    <div th:replace="~{fragmentos :: rodape}"></div>

    <script>

$(document).ready(function() {
        $('#validationServer03').maskMoney({
            prefix: 'R$', // Prefixo (pode ser vazio, R$, etc.)
            allowNegative: false, // Não permite valores negativos
            thousands: '.', // Separador de milhares
            decimal: ',', // Separador decimal
            affixesStay: false // Remove o prefixo/sufixo quando o campo perde o foco
        });

        document.getElementById('01').addEventListener('submit', function(e) {
            // Obtém o valor formatado pelo maskMoney
            let valorFormatado = $('#validationServer03').val();
            
            // Remove todos os separadores de milhares
            let valorSemMilhares = valorFormatado.replace(/\./g, '');
            
            // Substitui vírgula por ponto (para ter o formato esperado pelo back-end)
            let valor = valorSemMilhares.replace(',', '.');
            
            // Atualiza o valor do campo com o valor sem separadores de milhares antes de enviar o formulário
            $('#validationServer03').val(valor);

            // Se quiser, você pode imprimir o valor a ser enviado para o back-end
            console.log(valor);
        });
    });
    </script>

</body>

</html>