<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <div th:replace="fragmentos :: bootstrap"></div>


</head>

<body>
    <div th:replace="fragmentos :: cabecalho"></div>
    <h1>Pagina do cadastro de usuários</h1>


    <div class="col-sm-9 mx-auto d-block">

        <form th:object="${usuario}" class="row g-3 needs-validation was-validated" method="POST"
            action="/usuario/cadastrar">
            <input type="hidden" th:field="*{id}" th:value="${usuario.id}">
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Primeiro nome</label>
                <input th:errorclass="is-invalid" type="text" class="form-control" id="validationServer01" value=""
                    th:field="*{primeiroNome}" required maxlength="15" minlength="3">
                <div class="valid-feedback">
                    Este nome é válido!
                </div>
                <div class="invalid-feedback" th:errors="*{primeiroNome}">Errors
                    do nome do produto</div>
            </div>
            <div class="col-md-4">
                <label for="validationServer02" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" id="validationServer02" value="" th:field="*{sobrenome}"
                    required maxlength="15" minlength="3">
                <div class="valid-feedback">
                    Este sobrenome é válido!
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationServer04" class="form-label">Sexo</label>
                <select class="form-select is-invalid" th:field="*{sexo}" id="validationServer04"
                    aria-describedby="validationServer04Feedback" required>
                    <option selected value="" title="Selecione uma opção">Escolha seu sexo</option>
                    <option th:selected="${usuario.sexo == 'MASCULINO'}" value="MASCULINO">MASCULINO</option>
                    <option th:selected="${usuario.sexo == 'FEMININO'}" value="FEMININO">FEMININO</option>
                    <option th:selected="${usuario.sexo == 'INDEFINIDO'}" value="INDEFINIDO">INDEFINIDO</option>
                </select>
            </div>


            <div class="col-md-6">
                <label for="validationServer03" class="form-label">CPF</label>
                <input type="text" placeholder="xxx.xxx.xxx-xx" class="form-control" id="validationServer03"
                    aria-describedby="validationServer03Feedback" th:field="*{cpf}" maxlength="14" required
                    minlength="11" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" oninput="formatarCPF(this)">
                <div id="validationServer03Feedback" class="invalid-feedback">
                    Por favor, forneça um CPF válido.
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                        aria-describedby="invalidCheck3Feedback" required>
                    <label class="form-check-label" for="invalidCheck3">
                        Eu tenho certeza que este usuário está sendo cadastrado corretamente!
                    </label>

                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Cadastrar Modelo de Equipamento</button>
            </div>
        </form>
    </div>



    <script>

        function formatarCPF(input) {
            // Remove caracteres não numéricos
            const cpf = input.value.replace(/\D/g, '');

            // Verifica se o CPF possui 11 dígitos
            if (cpf.length === 11) {
                // Formata o CPF
                const cpfFormatado = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');

                // Atualiza o valor do campo de entrada
                input.value = cpfFormatado;
            }
        }
    </script>

</body>

</html>