<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Sis Estoque</title>
    <div th:replace="fragmentos :: bootstrap"></div>

</head>

<body>
    <div th:replace="fragmentos :: cabecalho"></div>
    <h1>testando pra ver se funciona</h1>

    <script>
        // function toggleTheme() {
        //     const html = document.querySelector('html');
        //     const themeButton = document.getElementById('themeButton');
        //     if (html.dataset.bsTheme === 'dark') {
        //         html.dataset.bsTheme = 'light';
        //         themeButton.textContent = 'Dark';
        //         themeButton.classList.remove('btn-light');
        //         themeButton.classList.add('btn-dark');
        //     } else {
        //         html.dataset.bsTheme = 'dark';
        //         themeButton.textContent = 'Light';
        //         themeButton.classList.remove('btn-dark');
        //         themeButton.classList.add('btn-light');
        //     }
        // }
    </script>
</body>

</html>