<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Sis Estoque</title>
    <div th:replace="fragmentos :: bootstrap"></div>

</head>

<body>
    <div th:replace="fragmentos :: cabecalho"></div>
    <div class="col-sm-9 mx-auto d-block">
        <h1>testando pra ver se funciona</h1>
    </div>
    <div th:replace="fragmentos :: rodape"></div>
    <script>
    </script>
</body>

</html>