<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista dos Modelos de Equipamentos</title>
    <div th:replace="~{fragmentos :: bootstrap}"></div>


</head>

<body>
    <div th:replace="~{fragmentos :: cabecalho}"></div>
    <div class="container-fluid">
        <div class="table-responsive col-sm-9 mx-auto d-block" >
            <h1>Se tudo der certo isso daqui é a listagem de modelo equipamento</h1>
            <table class="table table-striped table-bordered text-center "  id="tabela-equipamentos" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center align-middle" scope="col">ID</th>
                        <th class="text-center align-middle" scope="col">Equipamento</th>
                        <th class="text-center align-middle" scope="col">Part number</th>
                        <th class="text-center align-middle" scope="col">Serial number</th>
                        <th class="text-center align-middle" scope="col">Lote</th>
                        <th class="text-center align-middle" scope="col">Nome do usuario</th>
                        <th class="text-center align-middle" scope="col">CPF</th>
                        <th class="text-center align-middle" scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="equipamento : ${equipamentos}">
                        <td th:text="${equipamento.id}" class="align-middle">...</td>
                        <td th:text="${equipamento.modeloEquipamento.nomeEquipamento}" class="align-middle">...</td>
                        <td th:text="${equipamento.modeloEquipamento.pn}" class="align-middle">...</td>
                        <td th:text="${equipamento.sn}" class="align-middle">...</td>
                        <td th:text="${equipamento.modeloEquipamento.lote}" class="align-middle">...</td>
                        <div th:if="${equipamento.locatario}" class="align-middle">
                            <td th:text="${equipamento.locatario.primeiroNome} + ' ' +${equipamento.locatario.sobrenome}" class="align-middle">...</td>
                        </div>
                        <div th:unless="${equipamento.locatario}">
                            <td>Equipamento não emprestado</td>
                        </div>
                        <div th:if="${equipamento.locatario}">
                            <td th:text="${equipamento.locatario.cpf}" class="align-middle">...</td>
                        </div>
                        <div th:unless="${equipamento.locatario}">
                            <td class="align-middle">Equipamento não emprestado</td>
                        </div>
                        <td class="align-middle">
                            <!-- <a class="btn btn-primary btn-sm align-middle"
                                th:href="@{editar-usuario/(id=${usuario.id})}" role="button">Editar</a> -->
                            <!-- <a class="btn btn-danger btn-sm align-middle" th:href="@{editar-usuario/(id=${usuario.id})}" role="button">Excluir</a> -->
                            <!-- Button trigger modal -->

                            <div th:if="${equipamento.locatario}">
                                Equipamento emprestado não pode ser editado!
                            </div>
                            <div th:unless="${equipamento.locatario}">
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                th:data-bs-target="'#modal1-' + ${equipamento.id}">
                                    Editar Equipamento
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" th:id="'modal1-' + ${equipamento.id}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Atenção !!! </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Tem certeza que deseja Editar o equipamento : <span class="fw-bold" th:text="${equipamento.modeloEquipamento.nomeEquipamento}">nome do usuario</span>
                                            <span class="fw-bold" th:text="${equipamento.modeloEquipamento.nomeEquipamento}">nome do usuario</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Cancelar</button>
                                                <form th:action="@{editar-equipamento}" th:method="POST">
                                                    <input type="hidden" name="id" th:value="${equipamento.id}">
                                                    <button type="submit" class="btn btn-primary btn-sm align-middle">Editar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                Equipamento Emprestado não pode ser editado !
                            </div>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-center align-middle" scope="col">ID</th>
                        <th class="text-center align-middle" scope="col">Equipamento</th>
                        <th class="text-center align-middle" scope="col">Part number</th>
                        <th class="text-center align-middle" scope="col">Serial number</th>
                        <th class="text-center align-middle" scope="col">Lote</th>
                        <th class="text-center align-middle" scope="col">Nome do usuario</th>
                        <th class="text-center align-middle" scope="col">CPF</th>
                        <th class="text-center align-middle" scope="col">Editar</th>
                    </tr>
                </tfoot>
            </table>
            
        </div>
    </div>

    <div th:replace="~{fragmentos :: rodape}"></div>

    <script>
        new DataTable('#tabela-equipamentos');
    </script>

</body>

</html>