<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista dos Modelos de Equipamentos</title>
    <div th:replace="fragmentos :: bootstrap"></div>


</head>

<body>
    <div th:replace="fragmentos :: cabecalho"></div>
    <div class="container-fluid">
        <div class="table-responsive col-sm-9 mx-auto d-block   ">
            <h1>Se tudo der certo isso daqui é a listagem de usuarios</h1>
            <table class="table table-responsive table-striped table-bordered text-center " id="tabela-equipamentos" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center align-middle"  scope="col">ID</th>
                        <th class="text-center align-middle" scope="col">Nome</th>
                        <th class="text-center align-middle" scope="col">Sobrenome</th>
                        <th class="text-center align-middle" scope="col">Data de Nascimento</th>
                        <th class="text-center align-middle" scope="col">CPF</th>
                        <th class="text-center align-middle" scope="col">Sexo</th>
                        <th class="text-center align-middle" scope="col">Editar</th>
                        <th class="text-center align-middle" scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td th:text="${usuario.id}" class="align-middle">...</td>
                        <td th:text="${usuario.primeiroNome}" class="align-middle">...</td>
                        <td th:text="${usuario.sobrenome}" class="align-middle">...</td>
                        <td th:text="${usuario.nascimento}" class="align-middle">...</td>
                        <td th:text="${usuario.cpf}" class="align-middle">...</td>
                        <td th:text="${usuario.sexo}" class="align-middle">...</td>
                        <td>
                            <!-- <a class="btn btn-primary btn-sm align-middle"
                                th:href="@{editar-usuario/(id=${usuario.id})}" role="button">Editar</a> -->
                            <!-- <a class="btn btn-danger btn-sm align-middle" th:href="@{editar-usuario/(id=${usuario.id})}" role="button">Excluir</a> -->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#modal1-' + ${usuario.id}">
                                Editar usuário
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'modal1-' + ${usuario.id}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Atenção !!! </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Tem certeza que deseja editar o usuário : <span class="fw-bold" th:text="${usuario.primeiroNome}">nome do usuario</span>
                                            <span class="fw-bold" th:text="${usuario.sobrenome}">nome do usuario</span> será permanentemente alterado !
                                        </div>
                                        <div class="modal-footer">
                                            
                                            <button type="submit" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Cancelar</button>
                                                <form th:action="@{editar-usuario}" th:method="POST">
                                                    <input type="hidden" name="id" th:value="${usuario.id}">
                                                    <button type="submit" class="btn btn-primary btn-sm align-middle">Editar</button>
                                                </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- <a class="btn btn-danger btn-sm align-middle" th:href="@{editar-usuario/(id=${usuario.id})}" role="button">Excluir</a> -->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#modal2-' + ${usuario.id}">
                                Apagar usuário
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'modal2-' + ${usuario.id}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Atenção !!! </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            O usuário <span class="fw-bold" th:text="${usuario.primeiroNome}">nome do usuario</span>
                                            <span class="fw-bold" th:text="${usuario.sobrenome}">nome do usuario</span> será apagado
                                            permanentemente.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Cancelar</button>
                                                <form th:action="@{'excluir/' + ${usuario.id}}" th:method="DELETE">
                                                <button type="submit" class="btn btn-danger btn-sm align-middle">Apagar</button>
                                            </form>
                                            <!-- <a class="btn btn-danger btn-sm align-middle"
                                                th:href="@{'excluir/' + ${usuario.id}}" role="button">Apagar</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-center align-middle"  scope="col">ID</th>
                        <th class="text-center align-middle" scope="col">Nome</th>
                        <th class="text-center align-middle" scope="col">Sobrenome</th>
                        <th class="text-center align-middle" scope="col">Data de Nascimento</th>
                        <th class="text-center align-middle" scope="col">CPF</th>
                        <th class="text-center align-middle" scope="col">Sexo</th>
                        <th class="text-center align-middle" scope="col">Editar</th>
                        <th class="text-center align-middle" scope="col">Excluir</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
    
    <div th:replace="fragmentos :: rodape"></div>

    <script>
        new DataTable('#tabela-equipamentos');
    </script>

</body>

</html>