<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista dos Modelos de Equipamentos</title>
    <div th:replace="fragmentos :: bootstrap"></div>


</head>

<body>
    <div th:replace="fragmentos :: cabecalho"></div>
    <div class="container-fluid">
        <div class="table-responsive col-sm-9 mx-auto d-block" >
            <h1>Se tudo der certo isso daqui é a listagem de modelo equipamento</h1>
            <table class="table table-striped table-bordered text-center "  id="tabela-equipamentos" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">ID</th>
                        <th class="text-center" scope="col">Equipamento</th>
                        <th class="text-center" scope="col">Lote</th>
                    </tr>
                </thead>
                <tbody >
                    <tr th:each="modeloDeEquipamento : ${modeloDeEquipamentos}">
                        <td th:text="${modeloDeEquipamento.id}">...</td>
                        <td th:text="${modeloDeEquipamento.nomeEquipamento}">...</td>
                        <td th:text="${modeloDeEquipamento.lote}">...</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-center" scope="col">ID</th>
                        <th class="text-center" scope="col">Equipamento</th>
                        <th class="text-center" scope="col">Lote</th>
                    </tr>
                </tfoot>
            </table>
            
        </div>
    </div>

    <script>
        new DataTable('#tabela-equipamentos');
    </script>

</body>

</html>